{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="col-5 mx-auto my-5 p-3 rounded-3 bg-light">
            <h1>Shorten your link</h1>
            <form>
                <div class="form-group mb-3">
                    <label class="mb-1" for="linkAddress">Link address</label>
                    <input type="text" class="form-control" id="linkAddress" placeholder="Enter your link">
                    <small id="linkError" class="d-none"></small>
                </div>
                <button type="submit" class="btn btn-primary d-block w-100">Generate short link</button>
            </form>
        </div>
    </div>
{% endblock %}